<h1>Cadastro de Usuário</h1>
<form nz-form [formGroup]="usuarioForm">

    <div nz-row>
        <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10" nz-a>
            <nz-form-label nzFor="username" nzRequired>Nome de usuário</nz-form-label>
            <nz-form-item>
                <nz-form-control [nzErrorTip]="username">
                    <input nz-input id="username" formControlName="username" />

                    <ng-template #username let-control>
                      <ng-container *ngIf="control.hasError('minlength')">Mínimo de 5 caracteres</ng-container>
                      <ng-container *ngIf="control.hasError('maxlength')">Máximo de 100 caracteres</ng-container>
                      <ng-container *ngIf="control.hasError('required')">Nome de usuário obrigatório</ng-container>
                      <ng-container *ngIf="control.hasError('usuarioExistente')">Usuário já existe</ng-container>
                    </ng-template>

                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <div nz-row>
        <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">
            <nz-form-label nzFor="email" nzRequired>E-mail</nz-form-label>
            <nz-form-item>
                <nz-form-control [nzErrorTip]="email">
                    <input nz-input id="email" formControlName="email" />

                    <ng-template #email let-control>
                      <ng-container *ngIf="control.hasError('email')">Informe um e-mail válido</ng-container>
                      <ng-container *ngIf="control.hasError('maxlength')">Máximo de 100 caracteres</ng-container>
                      <ng-container *ngIf="control.hasError('required')">Nome de usuário obrigatório</ng-container>
                    </ng-template>

                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <div nz-row>
      <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">
          <nz-form-label nzFor="password" nzRequired>Senha</nz-form-label>
          <nz-form-item>
              <nz-form-control [nzErrorTip]="password">
                  <input nz-input id="password" formControlName="password" type="password" />

                  <ng-template #password let-control>
                    <ng-container *ngIf="control.hasError('minlength')">Mínimo de 6 caracteres</ng-container>
                    <ng-container *ngIf="control.hasError('maxlength')">Máximo de 100 caracteres</ng-container>
                    <ng-container *ngIf="control.hasError('required')">Senha obrigatória</ng-container>
                  </ng-template>

              </nz-form-control>
          </nz-form-item>
      </div>
  </div>

    <div nz-row class="register-area">
      <nz-form-control nz-col nzSm="2" nzXs="24">
          <button nz-button nzType="primary" (click)="salvar()">Salvar</button>
      </nz-form-control>
      <nz-form-control nz-col nzSm="2" nzXs="24">
          <button nz-button nzType="default" (click)="voltar()">Voltar</button>
      </nz-form-control>
    </div>

</form>
